{% extends 'app-base.html' %}
{% load i18n %}

{% block head-title %}
{% if library %}{{ library.name }}{% else %}Aristotle Library Apps {% endif %}
 Fedora Batch App
{% endblock %}

{% block more-css %}
<style media="screen" type="text/css">
 ul.fedora-batch-nav {
   background-color: rgb(209,208,208);
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   padding: .5em;
   width: 12%;
 }

</style>
{% endblock %}


{% block body %}
{% comment %}START content DIV{% endcomment %}
<div class="container-fluid">
 {% comment %}START row-fluid DIV{% endcomment %}
 <div class="row-fluid">
  {% comment %}START fedora batch nav DIV{% endcomment %}
  <div class="span2">
   <ul class="nav nav-stacked well well-small" >
     <li class="active">
      <i class="icon-chevron-right pull-right"></i>
      <a href="#" data-bind="click: displayIngest">Batch Ingest</a>
     </li>
     <li>
	  <i class="icon-chevron-right pull-right"></i>
	  <a href="#modify" data-bind="click: displayModifyBatch">Batch Modify</a> 
	 </li>
     <li>
	   <i class="icon-chevron-right pull-right"></i>
	   <a href="#generate-marc" data-bind="click: displayMARC">Generate MARC Record</a>
	 </li>	 
	 <li>
	   <i class="icon-chevron-right pull-right"></i>
	   <a href="#mover" data-bind="click: displayMover">Object Mover</a>
	 </li>
   </ul>
  {% comment %}END fedora batch nav DIV{% endcomment %}
  </div>
  {% comment %}START views DIV{% endcomment %}
  <div class="span7">
   
   <div class="well well-small"> 
   <h2>{{ app.current_view.title }} App</h2>
    <div data-bind="visible: JobStatus"></div>
    {% if message %}
      <p>{{ message }}</p>
    {% else %}
	 <p>{{ app.description }}</p>
    {% endif %}
   </div>
   <div class="well well-small" data-bind="visible: batchIngest">
       <a name="ingest"></a>
       <h2>Batch Ingest</h2>
	<form method="POST" action="{% url fedora_batch.views.batch_ingest %}" id="ingest_form" enctype="multipart/form-data" >
	  {% csrf_token %}
	 {{ ingest_form.as_p }}
         <div class="btn-group">
	  <a href="#" class="btn btn-primary" onclick="UploadCompressedFile()"><i class="icon-upload"></i> Ingest</a>
          <a href="#" class="btn"><i class="icon-question-sign"></i> Help</a>
         </div>
	</form>
   </div>
   <div class="well well-small" data-bind="visible: batchModify">
     <a name="modify"></a>
     <h2>Batch Modify Metadata</h2>
	 <p>With this form you'll be able to modify the existing metadata for one 
	    or more objects in a Fedora Commons server.</p>
	 <form>
	  {{ modify_form.as_p }}
	  <a href="#" class="btn btn-primary">Modify</a>
	 </form>
   </div>
   <div class="well" data-bind="visible: marcGenerate">
       <a name="generate-marc"></a>
	<h2>Generate MARC record</h2>
	
	  <a href="#" class="btn btn-primary">Generate MARC</a>
   </div>
   <div class="well well-small" data-bind="visible: pidMover">
     <a name="mover" ></a>
     <h2>PID Mover</h2>
	 <p>Moves a single object or collection in a Fedora Commons Server</p>
         <form method="POST" action="{% url pid-mover %}">

	 <p>
	  {% csrf_token %}
	    
	   <strong>Move Source PID</strong> {{ object_mover_form.source_pid }} to <strong>Target PID</strong> 
	   {{ object_mover_form.collection_pid }}
	   <br />
	   <input type="submit" class="btn btn-primary" value="Move" />
	 </p>
  {% comment %}END widget DIV{% endcomment %}
  </div>
  </form>
 {% comment %}END row-fluid DIV{% endcomment %}
 </div>
{% comment %}END content DIV{% endcomment %}
</div>
{% endblock %}

{% block more-js %}
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
<script src="{{ STATIC_URL }}js/knockout.js"></script>
<script>
 function FedoraBatchViewModel() {
   this.batchIngest = ko.observable(false);
   this.batchModify = ko.observable(false);
   this.marcGenerate = ko.observable(false);
   this.pidMover = ko.observable(true);
   this.JobStatus = ko.observable(true);

   this.displayIngest = function() {
     this.hideAll();
     this.batchIngest(true);
   }


   this.displayModifyBatch = function() {
     this.hideAll();
     this.batchModify(true);
   }

   this.displayMARC = function() {
     this.hideAll();
     this.marcGenerate(true);

   }

   this.displayMover = function() {
    this.hideAll();
    this.pidMover(true);
   }
   this.hideAll = function() {
     this.batchIngest(false);
     this.batchModify(false);
     this.marcGenerate(false);
     this.pidMover(false);
   }

 }

function UploadCompressedFile() {
  var success = $('#ingest_form').submit();
  alert(success);

}

//$("#id_target_directory").change(TestEvent);
ko.applyBindings(new FedoraBatchViewModel());
// ko.applyBindings(PIDMoverViewModel);
</script>
{% endblock %}
