{% extends 'app-base.html' %}
{% load i18n %}

{% block head-title %}
{% if library %}{{ library.name }}{% else %}Aristotle Library Apps {% endif %}
 Fedora Batch App
{% endblock %}

{% block more-css %}
<style media="screen" type="text/css">
 ul.fedora-batch-nav {
   background-color: rgb(209,208,208);
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   padding: .5em;
   width: 12%;
 }

</style>
{% endblock %}


{% block body %}
{% comment %}START content DIV{% endcomment %}
<div class="container-fluid">
 {% comment %}START row-fluid DIV{% endcomment %}
 <div class="row-fluid">
  {% comment %}START fedora batch nav DIV{% endcomment %}
  <div class="span2">
   <ul data-spy="affix" class="nav nav-stacked affix fedora-batch-nav" >
     <li>
	   <i class="icon-chevron-right pull-right"></i>
	   <a href="#" data-bind="click: displayIngest">Batch Ingest</a>
	 </li>
	 <li>
	  <i class="icon-chevron-right pull-right"></i>
	  <a href="#modify">Batch Modify</a> 
	 </li>
     <li>
	   <i class="icon-chevron-right pull-right"></i>
	   <a href="#generate-marc">Generate MARC Record</a>
	 </li>	 
	 <li>
	   <i class="icon-chevron-right pull-right"></i>
	   <a href="#mover" data-bind="click: displayMover">Object Mover</a>
	 </li>
   </ul>
  {% comment %}END fedora batch nav DIV{% endcomment %}
  </div>
  {% comment %}START views DIV{% endcomment %}
  <div class="span7">
   
   <div class="well well-small"> 
   <h2>{{ app.current_view.title }} App</h2>
    {% if message %}
      <p>{{ message }}</p>
	{% else %}
	 <p>{{ app.description }}</p>
    {% endif %}
   </div>
   <div class="well well-small" data-bind="visible: batchIngest">
    <a name="ingest"></a>
    <h2>Batch Ingest</h2>
	<form>
	 {{ ingest_form.as_p }}
	 <a href="#" class="btn btn-primary">Ingest</a>
	</form>
   </div>
   <div class="well well-small" data-bind="visible: batchModfiy">
     <a name="modify"></a>
     <h2>Batch Modify Metadata</h2>
	 <p>With this form you'll be able to modify the existing metadata for one 
	    or more objects in a Fedora Commons server.</p>
	 <form>
	  {{ modify_form.as_p }}
	  <a href="#" class="btn btn-primary">Modify</a>
	 </form>
   </div>
   <div class="well" data-bind="visible: marcGenerate">
   <form method="POST" action="{% url pid-mover %}"
    <a name="generate-marc"></a>
	<h2>Generate MARC record</h2>
	
	  <a href="#" class="btn btn-primary">Generate MARC</a>
   </div>
   <div class="well well-small" data-bind="visible: pidMover">
     <a name="mover" ></a>
     <h2>PID Mover</h2>
	 <p>Moves a single object or collection in a Fedora Commons Server</p>
	 <p>
	  {% csrf_token %}
	   <label>{{ object_mover_form.collection_pid.label }}</label>
	   {{ object_mover_form.collection_pid }}<br/>
	   <label>{{ object_mover_form.source_pid.label }}</label>
	   {{ object_mover_form.source_pid }}<br />
	   <input type="submit" class="btn btn-primary" value="Move PID" />
	 </p>
  {% comment %}END widget DIV{% endcomment %}
  </div>
  </form>
 {% comment %}END row-fluid DIV{% endcomment %}
 </div>
{% comment %}END content DIV{% endcomment %}
</div>
{% endblock %}

{% block more-js %}
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
<script src="{{ STATIC_URL }}js/knockout.js"></script>
<script>
 function FedoraBatchViewModel() {
   this.batchIngest = ko.observable(false);
   this.batchModfiy = ko.observable(false);
   this.marcGenerate = ko.observable(false);
   this.pidMover = ko.observable(true);
   
   
   
   this.displayMover = function() {
    this.pidMover = ko.observable();
	alert("In DisplayMover");
	this.pidMover = ko.observable(true);
   }
   
 }
 function hideAll(){
    FedoraBatchViewModel.batchIngest = ko.observable(false);
    FedoraBatchViewModel.batchModfiy = ko.observable(false);
    FedoraBatchViewModel.marcGenerate = ko.observable(false);
    FedoraBatchViewModel.pidMover = ko.observable(false);
 }
 function displayIngest() {
    hideAll();
	FedoraBatchViewModel.batchIngest.visible = true;  
 }


 ko.applyBindings(new FedoraBatchViewModel());
// ko.applyBindings(PIDMoverViewModel);
</script>
{% endblock %}
