{% extends 'app-base.html' %}
{% load i18n %}
{% load portfolio_extras %}

{% block more-css %}
<link href="{{ STATIC_URL }}portfolio/css/portfolio.css" i
      rel="stylesheet/css" 
      type="text/css" />
{% endblock %}



{% block body %}
 <div class="row" id="first-container">
  <h1>Available Apps</h1>
 </div>
 <div class="row">
  {% for app in portfolio %}
   <div class="col-sm-3 col-md-2">
     <div class="thumbnail" style="text-align: center">
      <button type="button" class="close" data-dismiss="thumbnail" aria-hidden="true">&times;</button>
      <a href="/apps/{{ app.url }}" 
        class="btn btn-default">
       <img src="{{ STATIC_URL }}img/{{ app.icon_url }}" alt="{{ app.name }} Icon">
      </a>
      <div class="caption">
        <h4>
        {{ app.current_view.title }}
        <sup>
            <a href="#"
               title="Description"
               data-container="body"
               data-placement="top"
               data-toggle="popover"
               data-content="{{ app.description }}"
               >?</a>
        </sup>
        </h4>
      </div>
     </div>
   </div>
 {% endfor %}
 <div class="btn-group">
  <a class="btn btn-default" href="/doc/">
  Technical Documentation
 <span class="glyphicon glyphicon-book"></span>
  </a>
  <a class="btn btn-default" href="/dashboard/">Operational Dashboard
  <span class="glyphicon glyphicon-dashboard"></span>
  </a>
 </div>

{% endblock %}

{% block more-js %}
<script>
 function PortfolioViewModel() {
  self = this;

 } 
 ko.applyBindings(new PortfolioViewModel());
 $("[data-toggle=popover]").popover();

</script>
{% endblock %}
