{% extends 'app-base.html' %}
{% load i18n %}
{% load portfolio_extras %}

{% block more-css %}
<link href="{{ STATIC_URL }}portfolio/css/portfolio.less" rel="stylesheet/less" type="text/css" />
{% endblock %}



{% block body %}
{% comment %}
{% if user != None %}
 <div class="row-fluid">
  {% include 'portfolio/snippets/top-action-bar.html' %}
 </div>
{% endif %}
{% endcomment %}

{% comment %}START row-fluid DIV{% endcomment %}
 
 <div class="row-fluid main-pane" id="main-pane" >
 {% include 'portfolio/snippets/app-thumbnail.html' %}
 {% comment %}END row-fluid DIV{% endcomment %}
 </div>
{% endblock %}

{% block more-js %}
<script src="{{ STATIC_URL }}portfolio/js/portfolio.js"></script>
{% endblock %}
