{% extends 'app-base.html' %}
{% load i18n %}
{% load portfolio_extras %}

{% block more-css %}
<link href="{{ STATIC_URL }}portfolio/css/portfolio.css" i
      rel="stylesheet/css" 
      type="text/css" />
{% endblock %}



{% block body %}
 <div class="row" id="first-container">
  <h1>Available Apps</h1>
 </div>
 <div class="row">
  {% for app in portfolio %}
   <div class="col-sm-3 col-md-2">
     <div class="thumbnail">
      <button type="button" class="close" data-dismiss="thumbnail" aria-hidden="true">&times;</button>
      <a href="{{ app.url }}" 
        class="btn btn-default">
       <img src="{{ STATIC_URL }}img/{{ app.icon_url }}" alt="{{ app.name }} Icon">
      </a>
      <div class="caption">
        <h4>
        {{ app.current_view.title }}
        <sup>
            <a href="#"
                title="Expand" 
                data-bind="click: toggleDescription">+</a>
        </sup>
        </h4>
        <p style="visible: none" id="app-{{ app.url }}-desc">{{ app.description }}</p>
      </div>
     </div>
   </div>
 {% endfor %}
{% endblock %}

{% block more-js %}
<script>
 function PortfolioViewModel() {
  self = this;
  self.toggleDescription = function() {
    alert("In toggleDescription");
  }


 } 
 ko.applyBindings(new PortfolioViewModel());

</script>
{% endblock %}
