{% load i18n %}
{% load call_number_extras %}
{% comment %}START autocomplete FORM{% endcomment %}
<form class="well form-search" action="/apps/call_number/">
 <input type="text" data-provide="typeahead" data-items="15" name="call_number" id="call-num-typeahead" {% if typeahead_data %}data-source="{{ typeahead_data }}"{% endif %} class="input-medium search-query">
 <button type="submit" class="btn"><i class="icon-eye-open"></i> Find</button>
{% comment %}END autocomplete FORM{% endcomment %} 
</form>
