{% load i18n %}
{% load call_number_extras %}
{% comment %}START autocomplete FORM{% endcomment %}
<form class="well form-search" data-bind="submit: searchCallNumber">
  <input type="text" name="call_number" data-bind="value: newSearchQuery" id="call-num-search" class="input-medium search-query">
  <select data-bind="options: callNumberTypes,
                     optionsText: 'name',
		     value: chosenNumberType"></select>
 <button type="submit" class="btn"><i class="icon-eye-open"></i> Find</button>
{% comment %}END autocomplete FORM{% endcomment %} 
</form>
