{% extends 'app-base.html' %}
{% load i18n %}
{% load discovery_extras %}

{% block head-title %}
{% if institution %}{% trans institution.name %} Apps{% else %}{% trans "Aristotle Library Apps" %}{% endif %}
Discovery App
{% endblock %}

{% block more-css %}
<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/discovery.less">
{% endblock %}


{% block body %}

{% block search-activity %}
{# START Search and Message row DIV #}
<div class="row" id="first-container">
 {% include 'discovery/snippets/search.html' %}
 {% include 'discovery/snippets/activity-widget.html' %}
{# END Search and Message row DIV #}
</div>
{% endblock %}

{# START Facets and Content row DIV #}
<div class="row">
{% block facets %}
 {% include 'discovery/snippets/facets.html' %}
{% endblock %}
{% block content %}
 {% include 'discovery/snippets/content.html' %}
{% endblock %}
{# END Facets and Content row DIV #}
</div>
{% endblock %}

{% block more-js %}
<script src="{{ STATIC_URL }}js/discovery.js"></script>
<script>
var discoveryViewModel = new DiscoveryViewModel();
discoveryViewModel.searchResults.push({ thumbnail_alt: null, title: "Jane Austen", work_summary: null, instance_alt: "Jane Austen", work_url: null, instance_thumbnail: "/static/img/None"});
ko.applyBindings(discoveryViewModel);
{% for work in results %}
discoveryViewModel.searchResults.push({{ work|get_search_result }});
{% endfor %}
/* 
discoveryViewModel.searchResults([
{% for work in results %}
{{ work|get_search_result }}
{% if not forloop.last %},{% endif %}
{% endfor %}
]); */
alert("After load "+ discoveryViewModel.searchResults.length);
</script>
{% endblock %}

{% block page-js %}{% endblock %}


