{% extends 'app-base.html' %}
{% load i18n %}

{% block head-title %}
{% if institution %}{% trans institution.name %} Apps{% else %}{% trans "Aristotle Library Apps" %}{% endif %}
Discovery App
{% endblock %}

{% block more-css %}
<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/discovery.less">
{% endblock %}


{% block body %}
{# START Search and Message row DIV #}
<div class="row" id="first-container">
 {% include 'discovery/snippets/search.html' %}
 {% include 'discovery/snippets/activity-widget.html' %}
{# END Search and Message row DIV #}
</div>
{# START Facets and Content row DIV #}
<div class="row">
 {% include 'discovery/snippets/facets.html' %}
 {% include 'discovery/snippets/content.html' %}
{# END Facets and Content row DIV #}
</div>
{% endblock %}

{% block more-js %}
<script src="{{ STATIC_URL }}js/discovery.js"></script>
<script>
 ko.applyBindings(new DiscoveryViewModel()); 
</script>
{% endblock %}
