@font-face {
  font-family: "NeoFill",
  src: url("/static/fonts/NEORD___-webfont.woff");
}


footer {
  background-color: #2D4873 !important;
}

header {
 background-color: #2D4873 !important;
 font-family: "NeoFill", Verdana !important;
}

.form-search {
 background-color: #1B3153 !important;
}

.cc-about-work {
  background-color: #F1ECE6;
  border: 1px solid #CCCCCC;
  margin: .5em;
  padding: 1em;
 }

.cc-about-work h2 {
 color: #2A466D;
 font-size: 1.857em;
 border-bottom: 1px solid #BBBBBB;
}

.cc-about-work h3 {
 color: #000000;
 font-size: 1.3em;
}

.cc-actions {
 background-color: #F1ECE5;
 border: 1px solid #E7E4E0;
 padding: 14px 20px;
 font-family: "Helvetica Neue", Arial, sans-serif;
}

.cc-actions h1 {
 color: #2A466D;
 font-size: 1.857em;
 font-weight: normal;
 border-bottom: 1px solid #BBBBBB;
}

.cc-breadcrumb {
 background-color: #2D4873 !important;
 color: #FFFFFF !important;
}

.cc-breadcrumb a, a.visited {
 color: #FFFFFF;

}
.cc-contact {
 background-color: #2D4873;
 color: #FFFFFF;
}

.cc-contact a, a.visited {
 color: #FDDB55;
 font-weight: bold; 

}

.cc-contact address {
  margin-left: 3em;
  margin-top: 0px;
}

.cc-contact h3 {
 color: #FDDB55; 
 font-size: 1.2em;
 margin-bottom: 0px;
 padding-bottom: 0px;
 margin-left: 1em;
}

.cc-left-column {
 background-color: #2D4873;
 padding: 2em;
 margin-left: 50px;
 margin-top: -5px;
 
}

.cc-facet h3 {
 background-color: #CDCAB4;
 border: 1px solid #E5E5E5;
 border-radius: 4px 4px 4px 4px;
 font-size: 1.2em;
 margin-bottom: 2px;
 text-align: center;
 width: 80%;
}

.cc-facet-header {
 background-color: #CDCAB4;
 padding: 3px;
}

.cc-facet-header a, a.visited {
 font-size: 1.2em;
 
 color: #594738; 
}



.cc-facet-body {
 background-color: #FFFFFF;
}
 

.cc-header-row {
 background: url("/static/img/cc-header.jpg") repeat scroll 50% 0 #FAFAF8;
 border-radius: 4px 4px 4px 4px;
 margin-bottom: 2px;
}

.cc-searchbox {
 background-color: #F1ECE5;
 border: 5px solid #FFFFFF;
 margin-top: 20px;
 padding-top: 1em;
 padding-left: 1em;
 padding-bottom: 0px;
 width: 75%;
}

.contact-row {
  background-color: #2D4873;
  border-radius: 4px 4px 4px 4px;
  margin-bottom: 2px;
  margin-left: 50px;
}

iframe.website-footer {
  margin: 0;
  padding: 0;
  border: none;
  width: 1020px;
}

iframe.website-header {
  margin: 0;
  padding: 0;
  margin-bottom: -8px;
  border: none;
  border-radius: 4px 4px 4px 4px;
  height: 325px;
  width: 1020px;
}

  

}


