body {
  padding-top: 60px;
}

a.wemi:link { color: white; }
 
div.space_bk {
  background:url(/code4lib/img/seattle-space-needle.jpg) bottom right no-repeat;
}


div.cc_box {
  background-color: #F7E49D;
  border: 2px ridge #D1CCB9;
  padding: 1em;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

div.cc-discovery {
 background: url(/code4lib/img/cc-discovery.png) top right no-repeat;
 font-size: 1.1em;
 height: 250px;
}

div.marc-sorry {
 background-color: #C43C35;
 border: 2px ridge #C43C35;
 color: #fff;
 font-size: 1.1em;
 padding: .5em;
 -moz-border-radius: 5px;
 border-radius: 5px;
 width: 80%;
}

div.unit_test_log {
  background-color: #FFF;
  position: absolute;
  top: 45px;
}

h1.cc_royal {
 color:#600;
}

textarea.xml-display {
 width: 90%;
}
