html, body {
  background-color: #eee;
  height: 100%;
}


#footer {
 height: 60px;
}

#main {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}


#first-container {
  margin-top: 60px;
}

