{% extends "app-base.html" %}

{% block action-view-title %}Login{% endblock %}

{% block body %}
{% if form.errors %}

{% endif %}
<h3>Please login</h3>
<form class="form-horizontal" method="post" action="/apps/app_login/">
 {% csrf_token %}
  <div>
    <label for="id_username" class="control-label">Your last name:</label>
    <div>
      {{ form.username }}
    </div>
  </div>
  <div>
   <label for="id_password" class="control-label">Your TIGER# (at the bottom of your Gold Card)</label>
   <div class="">
     {{ form.password }}
    </div>
  </div>
  <div>
    <div class="">
      <input type="submit" class="btn btn-primary" value="Login" />
    </div>
  </div>
  
  <input type="hidden" name="next" 
   {% if next %}value="{{ next }}"{% else %}value="{{ request.path }}" {% endif %} />
</form>

{% endblock %}
