@import "/static/css/app.less";

div.app_icon {
 background-color: @AppIconBackground;
 height: 60px;
 text-align: center;
 width: 60px;
 .rounded-corners;
}

div.app_icon a {
  color: @FooterColor;  
}

div.app_icon img {
 height:35px;
 margin-top: 5px;
 margin-botton: 5px;
 width:35px;
}

div.app_icon p {
  line-height: 70%;
  font-size: .80em;
}

div.carousel-item {
  height: 300px;
}

table.portfolio {
 margin-left: auto;
 margin-right:auto;
}

table.portfolio td {
 padding-bottom: 5px;
}
