<footer class="navbar">
 <div class="navbar-inner footer-navbar">
  <div class="container-fluid">
   <div class="btn-toolbar"> 
    <a class="btn" href="/apps/portfolio"><i class="icon-th"></i> Apps</a>
    <div class="btn-group">
     <a href="#" class="btn" onclick="$('#about_app_dlg').modal('show')"><i class="icon-info-sign"></i> About</a>
     <a href="/" class="btn"><i class="icon-home"></i> Home</a>
     {% if user.is_authenticated %}
      <a href="/accounts/logout" class="btn"><i class="icon-circle-arrow-left"></i> Logout <span class="label">{{ user.username }}</span> </a>
     {% else %}
      <a href="/accounts/login" class="btn"><i class="icon-circle-arrow-right"></i> Login</a>
     {% endif %}
     <a href="#" class="btn" onclick="$('#feedback_app_dlg').modal('show')" ><i class="icon-envelope"></i> Comment</a>
     <a href="#" onclick="$('#help_app_dlg').modal('show')" class="btn"><i class="icon-question-sign"></i> Help</a>
    {# END btn group #}
    </div>
  {# END btn toolbar #}
  </div>
 {# END container #}
 </div>
</footer>
