{% load i18n %}
{% load markup %}
<div class="modal hide fade" id="help_app_dlg">
 <div class="modal-header">
   <a class="close" data-dismiss="modal">×</a>
   {% if help %}
   <h2>Help with {{ help.title }}</h2>
   {% else %}
   <h2>Help with {{ app.current_view.title }}</h2>
   {% endif %}
 </div>
 <div class="modal-body">
  {% if help %}
  {% autoescape off %}
  {{ help.contents }}
  {% endautoescape %}
  {% else %}
  <img src="{{ STATIC_URL }}img/{{ app.icon_url }}" style="float:left">
  <p>{{ app.description }}</p>
  {% endif %}
 </div>
 <div class="modal-footer">
  <a href="#" onclick="$('#help_app_dlg').modal('hide')" class="btn btn-primary">{% trans 'Close' %}</a>
 </div>
</div>
