   {% comment %}START navbar DIV{% endcomment %}
    <div class="navbar navbar-fixed-top">
	 {% comment %}START navbar-inner DIV{% endcomment %}
     <div class="navbar-inner">
	  {% comment %}START container DIV{% endcomment %}
      <div class="container-fluid">
	   <a class="brand" href="/">FRBR-Redis Datastore</a>
           <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </a>
           {% comment %}START nav-collapse DIV{% endcomment %}
	   <div class="nav-collapse"> 
	    {% comment %}START secondary-nav UL{% endcomment %}
	    <ul class="nav secondary-nav">
		 <li data-dropdown="dropdown" class="dropdown">
		   <a href="#" class="dropdown-toggle">Access &amp; Discovery App Portfolio</a>
		   <ul class="dropdown-menu">
                     <li><a href="/article_search">Article Search App</a></li>
                     <li><a href="/book_search">Book Search App</a></li>
		     <li><a href="/call_number">Call Number Search App</a></li>
		     <li><a href="/hours">Hours App</a></li>
		   </ul>
		 </li>
	    {% comment %}END secondary-nav UL{% endcomment %}   
	    </ul>
	    {% comment %}START productivity apps nav UL{% endcomment %}
	    <ul class="nav secondary-nav">
		 <li data-dropdown="dropdown" class="dropdown">
		   <a href="#" class="dropdown-toggle">Productivity App Portfolio</a>
		   <ul class="dropdown-menu">
			 <li><a href="/budget">Budget App</a></li>
			 <li><a href="/cataloging">Cataloging Apps</a></li>
			 <li><a href="/circulation">Circulation Apps</a></li>
			 <li><a href="/system">Systems Status App</a></li>
		   </ul>
		 </li>
            {% comment %}END productivity apps nav UL{% endcomment %}
	    </ul>
           {% comment %}END nav-collapse DIV{% endcomment %}
	   </div> 
	  {% comment %}END container DIV{% endcomment %}
	  </div>
     {% comment %}START navbar-inner DIV{% endcomment %}
     </div>
    {% comment %}END navbar DIV{% endcomment %}
    </div>
