{% load cc_extras %}
<!DOCTYPE html>
<html>
 <head>
  {{ 'lib-css'|get_css }}
  <style type="text/css">

   @font-face {
    font-family: 'NeoFill';
    src: url('{{ STATIC_URL }}fonts/NEORF___-webfont.eot');
    src: url('{{ STATIC_URL }}fonts/NEORF___-webfont.eot?iefix') format('eot'),
         url('{{ STATIC_URL }}fonts/NEORF___-webfont.woff') format('woff'),
         url('{{ STATIC_URL }}fonts/NEORF___-webfont.ttf') format('truetype'),
         url('{{ STATIC_URL }}fonts/NEORF___-webfont.svg#webfont5wfZb0lq') format('svg');
    font-weight: normal;
    font-style: normal;
   }

  </style>
 </head>
 <body>
  {{ 'lib-header'|get_header }}
  {{ 'lib-cc-tabs'|get_tabs }}
  {{ 'lib-js'|get_js }}
  <script type="text/javascript">
    $('#library-tabs').css({'margin': '120px 0 0'});
  </script>
 </body>
</html>
