{% extends 'app-base.html' %}
{% load prospector_extras %}

{% block body %}
{# START main content #}
{% if results %}
  {% include 'discovery/carl-results.html' %}
{% else %}
<div class="container-fluid">
 {# START Search Widget #}
 <div class="row-fluid">
  {% include 'carl-search-widget.html' %}
  <div class="span2">
   <img src="{{ STATIC_URL }}img/prospector_man_smaller.png" style="height:150px">
  </div>
 {# END search Widget #}
 </div>
 {% if message %}
 {# START message #}
 <div class="row-fluid">
  <div class="span8 offset2">
   {{ message }}
  </div>
 {# END message #}
 </div>
 {% endif %}
 {# START Facet and Content #}
 <div class="row-fluid">
   {% include 'carl-left-column.html' %}
   {% include 'carl-right-column.html' %}
 {# END Facet and Content #}
 </div>
{# START Prospector graph #}
 <div class="row-fluid">
  <div class="span12">
  <canvas id="prospector-rlsp-bar" height="400" width="800"></canvas>
  </div>
{# END Prospector graph #}
 </div>
{# END main content #}
</div>
{% endif %}
{% endblock %}



{% block more_js %}
<script src="{{ STATIC_URL }}js/Chart.min.js"></script>
<script>
{{ app|get_prospector_bar_chart }}
</script>
{% endblock %}
