{% extends 'app-base.html' %}
{% load prospector_extras %}

{% block body %}
{# START main content #}
{% if results %}
  {% include 'discovery/carl-results.html' %}
{% else %}
<div class="container-fluid">
 {# START Search Widget #}
 <div class="row-fluid">
  {% include 'carl-search-widget.html' %}
  <div class="span2">
   <img src="{{ STATIC_URL }}img/prospector_man_smaller.png" style="height:150px">
  </div>
 {# END search Widget #}
 </div>
 {% if message %}
 {# START message #}
 <div class="row-fluid">
  <div class="span8 offset2">
   {{ message }}
  </div>
 {# END message #}
 </div>
 {% endif %}
 {# START Facet and Content #}
 <div class="row-fluid">
   {% include 'carl-left-column.html' %}
   {% include 'carl-right-column.html' %}
 {# END Facet and Content #}
 </div>
{# START Prospector graph #}
 <div class="row-fluid">
  <div class="span12">
  <div id="prospector-rlsp-bar" style="height: 1500px; width: 800px"></div>
  </div>
{# END Prospector graph #}
 </div>
{# END main content #}
</div>
{% endif %}
{% endblock %}



{% block more_js %}
<script src="https://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
 google.load('visualization', "1", {packages:["corechart"]});
 google.setOnLoadCallback(drawProspectorRLSPHoldings);
 function drawProspectorRLSPHoldings() {
   var data = google.visualization.arrayToDataTable([ 
    ['Library', 'Books', 'MovingImage', 'MusicalAudio', /*  'NotatedMusic', 'SoftwareOrMultimedia', 'Map', */
     'Total Holdings'],
    {# app|get_prospector_data #}
   ]);

   var options = {
     title: 'Prospector Library Holdings',
     vAxis: {title: 'Library'},
     hAxis: {title: 'Holdings'}};
   var chart =new google.visualization.BarChart(document.getElementById('prospector-rlsp-bar'));
   chart.draw(data, options);
 }
</script>
{% endblock %}
