<div class="span8 search-main rounded-corners">
 <h1>Search</h1>
 <form class="form-search">
  <input type="text" class="span6 search-query"
   placeholder="Find books, movies, music, and more!">
  <select>
   <option>Keyword</option>
   <option>Author</option>
   <option>Title</option>
   <option>Journal Title</option>
   <optgroup label="Subject">
    <option>LC Subject</option>
    <option>Medical Subject</option>
    <option>Children's Subject</option>
   </optgroup>
   <optgroup label="Number">
    <option>LC Call Number</option>
    <option>Gov Doc Number</option>
    <option>ISSN/ISBN</option>
    <option>Dewey Call Number</option>
    <option>Medical Call Number</option>
    <option>OCLC Number</option>
   </optgroup>
  </select>
  {#
  <div class="btn-group">
   <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
   Keyword
   <span class="caret"></span>
   </a>
   <ul class="dropdown-menu">
    <li><a href="#">Keyword</a></li>
    <li><a href="#">Author</a></li>
    <li><a href="#">Title</a></li>
    <li><a href="#">Journal Title</a></li>
    <li class="divider"></li>
    <li>LC Subject</li>
    <li>Medical Subject</li>
    <li>Children's Subject</li>
    <li class="divider"></li>
    <li>LC Call Number</li>
    <li>Gov Doc Number</li>
    <li>ISSN/ISBN</li>
    <li>Dewey Call Number</li>
    <li>Medical Call Number</li>
    <li>OCLC Number</li>
   </ul>
  </div>
  #}

  <button type="submit" class="btn btn-warning">Search</button>
</form>
</div>
