{% extends 'app-base.html' %}
{% comment %}
{% load colorado_college_extras %}
{% endcomment %}

{% block more-css %}
<link href="{{ STATIC_URL }}css/colorado-college.css" rel="stylesheet">
{% endblock %}


<div class="container-fluid">

{% block navbar %}
 <div class="row-fluid cc-header-row">
  <div class="span12 offset1">
   <iframe src="/apps/website-header" class="website-header" scrolling="no"></iframe>
  </div>
 </div>
{% endblock %}

{% block body %}
{# START main content #}
 {# START Contact and Search Row #}
 <div class="row-fluid contact-row" >
  {% include 'cc-contact-info.html' %} 
  {% include 'cc-search-widget.html' %}
 {# END  Contact and Search Row #}
 </div>
{% if results %}
  {% include 'discovery/cc-results.html' %}
{% else %}
 {% if message %}
 {# START message #}
 <div class="row-fluid">
  <div class="span8 offset2">
   {{ message }}
  </div>
 {# END message #}
 </div>
 {% endif %}
 {# START Facet and Content #}
 <div class="row-fluid">
   {% include 'cc-left-column.html' %}
   {% include 'cc-right-column.html' %}
 {# END Facet and Content #}
 </div>
{% endif %}
{% endblock %}

{% block footer %}
<div class="row-fluid">
  <div class="span12 offset1">
   <iframe src="/apps/website-footer" class="website-footer" scrolling="no"></iframe>
  </div>
</div>
{% endblock %}

{# END main content #}
</div>

{% block more-js %}
<script>

</script>
{% endblock %}
