{% extends 'app-base.html' %}
{% load discovery_extras %}
{% load colorado_college_extras %}

{% block more-css %}
<link href="{{ STATIC_URL }}css/colorado-college.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{# START container DIV #}
<div class="container-fluid">

{% block navbar %}
 <div class="row-fluid cc-header-row">
  <div class="span12 offset1">
   <iframe src="/apps/website-header" class="website-header" scrolling="no"></iframe>
  </div>
 </div>
{% endblock %}

{% block body %}
<div class="row-fluid">
 {# START Person Breadcrumbs #}
 <div class="span7 offset1" >
  <ul class="breadcrumb">
   <li><a href="/apps/discovery">Discovery</a> <span class="divider">/</span></li>
   <li><a href="/apps/discovery/Person/">Person</a> 
    <span class="divider">/</span></li>
  <li class="active"><a href="/apps/discovery/Person/{{ person.redis_id }}">
   {{ person.redis_id }}</a></li>
  </ul>
 {# END Person Breadcrumbs #}
 </div>
 {% include 'cc-app-nav.html' %}

</div>

<div class="row-fluid">
 <div class="span6 offset1 cc-about-work">
  <div style="float: right"> {{ person|display_network_toolbar }}</div>  
  <h2>{{ person|get_name }}</h2> 
  {{ person|display_person_dates }}
{#  {% include 'discovery/snippets/person-detail.html' %} #}
 </div>
 <div class="span4">
  {{ person|author_of }}
  {# {{ person|editor_of }} #}
 </div>
</div>
{% endblock %}

{% block footer %}
<div class="row-fluid">
  <div class="span12 offset1">
   <iframe src="/apps/website-footer" class="website-footer" scrolling="no"></iframe>
  </div>
</div>
{% endblock %}
{# END container DIV #}
</div>
