{% load i18n %}
{% comment %}START autocomplete FORM{% endcomment %}
<form class="well form-search" data-bind="submit: searchTitle">
 <input type="text" data-bind="value: newSearchQuery" name="q" id="" class="input-medium search-query">
 <button type="submit" class="btn"><i class="icon-eye-open"></i> Find</button>
{% comment %}END autocomplete FORM{% endcomment %} 
</form>
<form class="well form-search">
 <input type="text" name="q" id="typeahead-search" data-provide="typeahead" data-items="4" class="input-medium search-query">
 <button type="submit" class="btn"><i class="icon-eye-open"></i> Find</button>
</form>