Django==2.2.27
Fabric==1.6.0
SPARQLWrapper==1.5.2
argparse==1.2.1
distribute==0.6.34
fuzzywuzzy==0.1
hiredis==0.1.1
html5lib==0.95
isodate==0.4.9
lxml==4.6.5
paramiko==2.0.9
pycrypto==2.6
pymarc==2.8.8
pyparsing==1.5.7
rdflib==4.0
redis==2.7.5
rediscluster==0.5.1
wsgiref==0.1.2
