{% load i18n %}
{% load discovery_extras %}
{# START Instance Details #}
<div class="work-detail">
 <a href="#" class="close">&times;</a>
 {# START Instance row #}
 <div class="row">
  <div class="span1 offset1">
   <img src="{{ STATIC_URL }}img/{{ instance|get_image }}" />
  </div>
  <div class="span8" >
   <h2>{{ instance|get_title }}</h2>
  </div>
 {# END Instance row #}
 </div>
 {# START Instance row 2 #}
 <div class="row">
  <div class="span6 well well-small">
    <h4>About this Instance</h3>
    <dl>
     {{ instance|about_instance }}
    </dl>
  </div>
  <div class="span4">
   <div class="btn-grp">
     <a href="#" class="btn" onclick="alert('Dynamic Map coming soon!')">
	     Location<br/>
     <img src="{{ STATIC_URL }}img/maps_48x48.png" />
     <br/>
      {{ instance|get_location }}</a>
     <a href="#creators-dlg" class="btn" data-toggle="modal">
      Creator(s)<br/>
      <img src="{{ STATIC_URL }}img/user_48x48.png">
      </a>
      {{ instance|get_library_holdings }}

   </div>
  </div>
 {# END Instance row 2 #}
 </div>
{# END Instance Details #}
</div>
{# START creators-dlg DIV #}
<div class="modal hide fade" id="creators-dlg">
 <div class="modal-header">
 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4>Creators for</h4>
  <h3>{{ instance|get_title }}</h3>
 </div>
 <div class="modal-body">

 
 </div>
 <div class="modal-footer">
  <a href="#" data-dismiss="modal" class="btn btn-primary">Close</a>
 </div>
{# END creators-dlg DIV #}
</div>
