{% load i18n %}
{# START Search Form DIV #}
<div class="col-md-6 col-sm-6">
 <div class="panel panel-info">
  {# START Search panel heading DIV #}
  <div class="panel-heading">
   <h3 class="panel-title">Search</h3>
  {# END Search panel heading DIV #}
  </div>
  {# START Search panel body DIV #}
  <div class="panel-body">
   {% csrf_token %}
   {# START Search Input Group #}
   <div class="input-group">
       <input type="text" class="form-control" data-bind="value: searchQuery" name="query">
 
    <div class="input-group-btn">
     <button type="button"
             data-bind="click: searchRLSP"
             class="btn btn-info">Go!</button>
    </div>
   {# END Search Input Group #}
   </div>
 {# END Search panel body DIV #}
  </div>
 {# END Search Input Group #}
 </div>
{# END Search Form DIV #}
</div>
