{% load i18n %}
{% load discovery_extras %}
<div class="work-detail">
 <a class="close" href="#">&times;</a>
 <h2>{{ creative_work|get_title }}<a href="#"><i class="icon-question-sign"></i></a></h2>
 {# START Creative Work Details Row #}
 <div class="row">
   <div class="span2 offset1">
   <h4>Subjects</h4>
     {{ creative_work|get_subjects }}
   </div>
   <div class="span5">
    <h4>Creators</h4>
    <div class="btn-group">
    {{ creative_work|get_creators }}
    </div>
   </div>
 {# END Creative Work Details Row #}
 </div>
 {# START Creative Work's Instances Row #}
 <div class="row">
   <div class="span5 offset2">
     <h4>Instances of this Work</h4>
       {{ creative_work|get_instances }} 
   </div>
 {# END Creative Work's Instances Row #}
 </div>
</div>
