{% load i18n %}
{% load discovery_extras %}
<div class="work-detail">
 <a class="close" href="#">&times;</a>
 <h2>{{ creative_work|get_title }}<a href="#title-info"
                                     data-toggle="modal"><i class="icon-question-sign"></i></a></h2>
 {# START Creative Work Details Row #}
 <div class="row">
   <div class="col-sm-3 col-md-4">
   <h4>Subjects</h4>
     {{ creative_work|get_subjects }}
   </div>
   <div class="col-sm-4 col-md-5">
    <h4>Creators</h4>
    <div class="btn-group">
    {{ creative_work|get_creators }}
    </div>
   </div>
 {# END Creative Work Details Row #}
 </div>
 {# START Creative Work's Instances Row #}
 <div class="row">
   <div class="span5 offset2">
     <h4>Instances of this Work</h4>
       {{ creative_work|get_instances }} 
   </div>
 {# END Creative Work's Instances Row #}
 </div>
</div>
{# START Creative Work's Title info #}
<div class="modal hide fade" id="title-info">
 <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3>Additional Title Information for {{ creative_work.redis_key }}</h3>
 </div>
 <div class="modal-body">
  <dl class="dl-horizontal">
  {% if creative_work.title.sort %}
   <dt>Sort</dt>
   <dd>{{ creative_work.title.sort }}</dd>
  {% endif %}
  {% if creative_work.title.normed %}
   <dt>Normed</dt>
   <dd>{{ creative_work.title.normed }}</dd>
  {% endif %}
  </dl>
 </div>
 <div class="modal-footer">
  <a href="#" data-dismiss="modal" class="btn btn-primary">Close</a>
 </div>
{# END Creative Work's Title info #}
</div>
