{% extends 'app-base.html' %}
{% load i18n %}

{% block more-css %}
<link href="{{ STATIC_URL }}call_number/css/call_number.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}call_number/css/app.less" />
{% endblock %}


{% block body %}
{% comment %}START content DIV{% endcomment %}
<div class="content">
 {% comment %}START row-fluid DIV{% endcomment %}
 <div class="row-fluid">
  {% comment %}START search DIV{% endcomment %}
  <div class="row12">
  <div class="app-icon" style="float:left">
   <img src="{{ STATIC_URL}}img/71-compass.png" / class="app-icon" />
  </div>
  <h2>Policies App</h2>
  <p>The Policies App is used for viewing Tutt Library's various policies.</p>
  <div class="row">
    <div class="span4">
      <form class="well form-vertical">
        <div class="control-group">
          <label class="control-label" for="searchIcon"><h3>Find Books</h3></label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-search"></i></span>
              <input id="searchIcon" type="text" placeholder="Search TIGER!">
            </div>
            <div class="btn-group">
              <button type="submit" class="btn">Search Keyword</button>
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li>Keyword</li>
                <li>Author</li>
                <li>Title</li>
                <li>Subject</li>
                <li>Journal Title</li>
              </ul>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% comment %}END search DIV{% endcomment %}
  </div>
 {% comment %}END row-fluid DIV{% endcomment %}
 </div>
 {% comment %}START row-fluid DIV{% endcomment %}
 <div class="row-fluid">
  {% comment %}START widget DIV{% endcomment %}
  <div class="row12">
  {% comment %}END widget DIV{% endcomment %}
  </div>
 {% comment %}END row-fluid DIV{% endcomment %}
 </div>
{% comment %}END content DIV{% endcomment %}
</div>
{% endblock %}

{% block footer %}
{% endblock %}
