{% extends 'marc-batch-app.html' %}
{% load i18n %}

{% block more-css %}{% endblock %}




 {% block app-main-body %}
   <h1>{{ current_job.name }}</h1>
   <form method="POST" action="/apps/marc_batch/process" enctype="multipart/form-data">{% csrf_token %}
	<input type="hidden" value="{{ current_job.pk }}" name="job_id" />
   {{ marc_upload_form }}
   <br/>
   <input class="btn btn-large btn-warning" type="submit" value="Upload" />
   </form>
{% endblock %}
 
{% block more-dialogs %}
<div class="modal hide fade" id="job_logs_dlg">
 <div class="modal-header">
   <a class="close" data-dismiss="modal">×</a>
   <h2>Logs</h2>
 </div>
 <div class="modal-body">
  <img src="{{ STATIC_URL }}img/{{ app.icon_url }}" style="float:left">
  <p>{{ app.description }}</p>
 </div>
 <div class="modal-footer">
  <a href="#" onclick="$('#help_app_dlg').modal('hide')" class="btn btn-primary">{% trans 'Close' %}</a>
 </div>

</div>
{% endblock %}
