{% extends 'app-base.html' %}
{% load i18n %}

{% block more-css %}{% endblock %}


{% block body %}
 {# START main-pane DIV #}
 <div class="row main-pane" id="first-container">
  {# START left-jobs-col DIV #}
  <div class="col-sm-3 col-md-3">
   <ul class="nav nav-pills nav-stacked">
   {% include 'snippets/left-nav-column-simple.html' %}
   {% block more-left-nav %}{% endblock %}   
   </ul>
  {# END left-jobs-col DIV #}
  </div>
  <div class="col-sm-8 col-md-7">
   {% block app-main-body %}
   <p>{{ app.description }}</p>
   {% endblock %}
  </div>
{# END main-pane DIV #}
 </div>
{% endblock %}

 {% block more-js %}
 <script src="{{ STATIC_URL }}js/bootstrap-affix.js"></script>
 
 {% endblock %}
