body
{
background-color:transparent;
}

div.search
{
background:#EEE9DA;
border:4px solid white;
}

.dropdown-menu
{
margin-right: 10px;
}

.bookHorizontalList ul
{
margin: 12px;
padding-left: 0px;
padding-top: 24px;
}

.bookHorizontalList ul li
{
display: inline;
padding-right: 20px;
color: purple;
}

.bookHorizontalList ul li a
{
font-weight: bold;
color: purple;
}

.bookHorizontalListSmall ul
{
margin: 1px;
padding-left: 0px;
padding-top: 24px;
}

.bookHorizontalListSmall ul li
{
display: inline;
padding-right: 10px;
color: purple;
}

.bookHorizontalListSmall ul li a
{
font-weight: bold;
color: purple;
}

.btn-mini {
    padding: 1px 6px
}​

