{% extends 'fedora_utilities/app.html' %}
{% load i18n %}

{% block fedora_form %}
{# START addObjectFromTemplate DIV #}
<div class="well well-small">
   <a name="add-obj-w-template"></a>
   <h2>Add Fedora Object(s) using a Template</h2>
   <p>Adds one or more brief Fedora Objects using a MODS 
      template of prefilled data to the digital repository.</p>
   <form method="POST" 
         class="form-horizontal" 
         action="{% url 'add-obj-template' %}">
    {% csrf_token %}
    {# START Object Select #}
    <div class="control-group">
     <label class="control-label" 
            for="object_template">
      {{ add_obj_form.object_template.label }}
     </label>
     <div class="controls">
      {{ add_obj_form.object_template }}
     </div>
    {# END Object Select #}
    </div>
    {# START title #}
     <div class="control-group">
     <label class="control-label" 
            for="title">
     {{ add_obj_form.title.label }}
     </label>
     <div class="controls"> 
      {{ add_obj_form.title }}
     </div>
    {# END title #}
    </div>
    {# START alternate title #}
    <div class="control-group" data-bind="visible: showAlternativeTitle">
     <label class="control-label" for="alt_title">
       {{ add_obj_form.alt_title.label }}
     </label>
     <div class="controls">
       {{ add_obj_form.alt_title }}
     </div>
    {# END alternate title #}
    </div>
    {# START creators title #}
    <div class="control-group">
     <label class="control-label" for="creators">
       {{ add_obj_form.creators.label }}
     </label>
     <div class="controls">
       {{ add_obj_form.creators }}
     <a href="#" data-bind="click: addCreator" id="AddCreatorBtn"><i class="icon-plus-sign"></i></a>

     </div>
    {# END alternate creators #}
    </div>

     {# START corporate creators #}
    <div class="control-group" data-bind="visible: showCorporateCreators">
     <label class="control-label" for="corporate_contributors ">
     {{ add_obj_form.corporate_creators.label }}
     </label>
     <div class="controls">
     {{ add_obj_form.corporate_creators }}
     <a href="#" data-bind="click: addCorporateCreator" 
                 id="AddCorporateCreatorBtn"><i class="icon-plus-sign"></i></a>
     </div>
    {# END corporate creators #}
    </div>


    {# START contributors #}
    <div class="control-group" data-bind="visible: showContributors">
     <label class="control-label" for="contributors ">
     {{ add_obj_form.contributors.label }}
     </label>
     <div class="controls">
     {{ add_obj_form.contributors }}
     <a href="#" data-bind="click: addContributor" 
                 id="AddContributorBtn"><i class="icon-plus-sign"></i></a>
     </div>
    {# END contributors #}
    </div>


    {# START corporate contributors #}
    <div class="control-group" data-bind="visible: showCorporateCreators">
     <label class="control-label" for="corporate_contributors ">
     {{ add_obj_form.corporate_contributors.label }}
     </label>
     <div class="controls">
     {{ add_obj_form.corporate_contributors }}
     <a href="#" data-bind="click: addCorporateContributor" 
                 id="AddCorporateContributorBtn"><i class="icon-plus-sign"></i></a>
     </div>
    {# END corporate contributors #}
    </div>

    {# START Date Created #}
    <div class="control-group">
     <label class="control-label" for="date_created">
       {{ add_obj_form.date_created.label }}
     </label>
     <div class="controls">
     {{ add_obj_form.date_created }}
     </div>
    {# END Date Created #}
    </div>
    {# START Digital Origin #}
    <div class="control-group">
     <label class="control-label" for="digital_origin">
      {{ add_obj_form.digital_origin.label }}
     </label>
     <div class="controls">
      {{ add_obj_form.digital_origin }}
     </div>
    {# END digital origin #}
    </div>

    {# START Type of Resource #}
    <div class="control-group">
     <label class="control-label" for="type_of_resource">
      {{ add_obj_form.type_of_resource.label }}
     </label>
     <div class="controls">
       {{ add_obj_form.type_of_resource }}
     </div>
    {# END Type of Resource  #}
    </div>


    {# START Genre #}
    <div class="control-group" data-bind="visible: showGenre">
     <label class="control-label" for="genre">
      {{ add_obj_form.genre.label }}
     </label>
     <div class="controls">
      {{ add_obj_form.genre }}
      <br><b>Or</b><br>
      {{ add_obj_form.genre_free_form.label }}: 
      {{ add_obj_form.genre_free_form }}
     </div>
    {# END Genre #}
    </div>

    {# START Form #}
    <div class="control-group" data-bind="visible: showForm">
     <label class="control-label" for="genre">
      {{ add_obj_form.form.label }}
     </label>
     <div class="controls">
      {{ add_obj_form.form }}
     </div>
    {# END Genre #}
    </div>

    {# START description #}
    <div class="control-group">
     <label class="control-label" for="digital_origin">
     {{ add_obj_form.description.label }}
     </label>
     <div class="controls">
     {{  add_obj_form.description }}
     </div>
    {# END description #}
    </div>
    {# START extent #}
    <div class="control-group" 
         data-bind="visible: showExtent">
      <label class="control-label" for="extent">
       {{ add_obj_form.extent.label }}
      </label>
      <div class="controls">
       {{ add_obj_form.extent }}
      </div> 
    {# END extent #}
    </div>
    {# START admin_note #}
    <div class="control-group">
     <label class="control-label" for="admin_note">
     {{ add_obj_form.admin_note.label }}
     </label>
     <div class="controls">
     {{ add_obj_form.admin_note }}
     </div>
    {# END admin_note #}
    </div>
    {# START Use and Reproduction Rights Holder #}
    <div class="control-group">
     <label class="control-label" for="rights_holder">
     {{ add_obj_form.rights_holder.label }}
     </label>
     <div class="controls">
     {{ add_obj_form.rights_holder }}
     </div>
    {# END Use and Reproduction Rights Holder #}
    </div>
    {# START people subjects #}
    <div class="control-group" data-bind="visible: meetingMinutesTemplate">
     <label class="control-label" for="subject_people">
     {{ add_obj_form.subject_people.label }}
     </label>
     <div class="controls">
     {{ add_obj_form.subject_people }}
     <a href="#" data-bind="click: addPerson" id="AddPersonBtn"><i class="icon-plus-sign"></i></a>
     </div>
    {# END people subjects #}
    </div>
   {# START place subjects #}
    <div class="control-group">
     <label class="control-label" for="subject_places">
     {{ add_obj_form.subject_places.label }}
     </label>
     <div class="controls">
     {{ add_obj_form.subject_places }}
     <a href="#" data-bind="click: addPlace" id="AddPlaceBtn"><i class="icon-plus-sign"></i></a>
     </div>
    {# END place subjects #}
    </div>
    {# START topic subjects #}
    <div class="control-group">
     <label class="control-label" for="sub_topics">
     {{ add_obj_form.subject_topics.label }}
     </label>
     <div class="controls">
     {{ add_obj_form.subject_topics }}
     <a href="#" data-bind="click: addTopic" id="AddTopicBtn"><i class="icon-plus-sign"></i></a>
     </div>
    {# END topic subjects #}
    </div>

    {# START organizations #}
    <div class="control-group">
     <label class="control-label" for="organizations">
     {{ add_obj_form.organizations.label }}
     </label>
     <div class="controls">
     {{ add_obj_form.organizations }}
     <a href="#" data-bind="click: addOrganization" id="AddOrgBtn"><i class="icon-plus-sign"></i></a>
     </div>
    {# END organizations #}
    </div>
    {# START frequency #}
    <div class="control-group" data-bind="visible: newsletterTemplate">
      <label class="control-label" for="frequency">
      {{ add_obj_form.frequency.label }}
      </label>  
      <div class="controls">
      {{ add_obj_form.frequency }}
      <br><b>Or</b><br>
      {{ add_obj_form.frequency_free_form.label }}: 
      {{ add_obj_form.frequency_free_form }}
      </div>
    </div>
    {# END frequency #}

    {# START Parent Collection PID #}
    <div class="control-group">
     <label class="control-label" for="collection_pid">
       {{ add_obj_form.collection_pid.label }}
     </label>
     <div class="controls">
     {{ add_obj_form.collection_pid }}
     </div>
    {# END Parent Collection PID #}
    </div> 
    {# START num_objects #}
    <div class="control-group">
      <label class="control-label" for="num_objects">
      {{ add_obj_form.number_objects.label }}  
      </label>
      {# START num_objects controls #}
      <div class="controls">
        {{ add_obj_form.number_objects }}  
      {# END num_objects controls #}
      </div>
    {# END num_objects #}
    </div>
    {# START submit #}
    <div class="control-group">
     <div class="controls">
      <input type="submit" class="btn btn-primary" value="Add Stub Record(s)">
     </div>
    {# END submit #}
    </div>
    </form>
  </div>
  {# END addObjectFromTemplate DIV #}
  </div>
{% endblock %}

{% block more-js %}
<script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
<script src="{{ STATIC_URL }}js/knockout.js"></script>
<script>
 function AddStubViewModel() {
   var self = this;
   self.chosenContentModel = ko.observable();
   self.extentValue = ko.observable();
   self.formValue = ko.observable();
   self.showAlternativeTitle = ko.observable(false);
   self.showContributors = ko.observable(false);
   self.showCorporateCreators = ko.observable(false);
   self.showCorporateContributors = ko.observable(false);
   self.showExtent = ko.observable(false);
   self.showGenre = ko.observable(false);
   self.showForm = ko.observable(false);
   self.meetingMinutesTemplate = ko.observable(false);
   self.topicOne = ko.observable();
   self.genreOptions = ko.observableArray();
   self.newsletterTemplate = ko.observable(false);
   self.typeOfResource = ko.observable();

   self.displayContentModel = function() {
     switch(self.chosenContentModel()) {
        // Meeting Minutes
        case '1':
            self.resetForm();
            self.meetingMinutesTemplate(true);
            self.topicOne("Meeting minutes");
            self.showAlternativeTitle(true);
            self.showCorporateCreators(true);
            self.showExtent(true);
            self.typeOfResource("text"); 

            //self.topicOne.html("<input name='sub_topics' type='text'>Universities and colleges</input>");
            break;

        // Newsletter
        case '2':
          self.resetForm();
          self.newsletterTemplate(true);
          self.showAlternativeTitle(true);
          self.showContributors(true);
          self.showGenre(true);
          self.genreOptions.push({ name: "Periodical", value: "periodical" });
          self.genreOptions.push({ name: "Newspaper", value: "newspaper"});
          self.topicOne("Newsletter");
          self.typeOfResource("text"); 

          break;

        // Podcast
        case '3':
          self.resetForm();
          self.showCorporateCreators(true);
          self.showExtent(true);
          self.showForm(true);
          self.showGenre(true);
          self.typeOfResource("sound recording");
          self.extentValue("1 audio file");
          self.formValue("podcast");
          break;

        // Video
        case '4':
          self.resetForm();
          self.showCorporateCreators(true);
          self.showExtent(true);
          self.showForm(true);
          self.showGenre(true);
          self.extentValue("1 video file");
          self.formValue("video clip");
          self.genreOptions.push({ name: "Videorecording", value: "videorecording"}); 
          self.typeOfResource("moving image"); 
          break;

       // Master Form displays everything
       case '5':
          self.resetForm()
          self.showAlternativeTitle(true);
          self.showContributors(true);
          self.showCorporateCreators(true);
          self.showGenre(true);
          self.showExtent(true);
          self.showForm(true);
          break;

        default:
          self.resetForm();
    }

   }

   self.addAdditionalField = function(btn_name, name) {
     var last_field = $("#" + btn_name).prev();
     last_field.after("<input name='" + name + "' type='text' maxlength='255'></input>");
   }

   self.addCorporateCreator = function() {
      self.addAdditionalField("AddCorporateCreatorBtn", "corporate_creators");
   }

   self.addCorporateContributor = function() {
     self.addAdditionalField("AddCorporateContributorBtn", 'corporate_contributors');
   }

  self.addContributor = function() {
     self.addAdditionalField("AddContributorBtn", 'contributors');
   }

   self.addCreator = function() {
    self.addAdditionalField("AddCreatorBtn", 'creators');
   }

   self.addOrganization = function() {
     self.addAdditionalField("AddOrgBtn", 'organizations');
   }

   self.addPerson = function() {
     self.addAdditionalField("AddPersonBtn", 'subject_people');
   }

   self.addPlace = function() {
     self.addAdditionalField("AddPlaceBtn", 'subject_places');
   }


   self.addTopic = function() {
     self.addAdditionalField("AddTopicBtn", "subject_topics");
   }
   
   self.resetForm = function() {
     self.genreOptions([{ name: "Choose...", value: null}]);
     self.extentValue("");
     self.formValue("");
     self.showExtent(false);
     self.showForm(false);
     self.showGenre(false);
     self.newsletterTemplate(false);
     self.meetingMinutesTemplate(false);
     self.showAlternativeTitle(false);
     self.showContributors(false);
     self.showCorporateCreators(false);
     self.topicOne("");
     self.typeOfResource(""); 


   }
 } 
 ko.applyBindings(new AddStubViewModel());
</script>
{% endblock %}
