{% extends 'app-base.html' %}
{% load i18n %}

{% block head-title %}
{% if library %}{{ library.name }}{% else %}Aristotle Library Apps {% endif %}
 Fedora Batch App
{% endblock %}

{% block more-css %}
<style media="screen" type="text/css">
 ul.fedora-batch-nav {
   background-color: rgb(209,208,208);
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   padding: .5em;
   width: 12%;
 }

</style>
{% endblock %}


{% block body %}
{% comment %}START content DIV{% endcomment %}
<div class="container-fluid">
 {% comment %}START row-fluid DIV{% endcomment %}
 <div class="row-fluid">
  {% comment %}START fedora batch nav DIV{% endcomment %}
  <div class="span2">
   <ul class="nav nav-stacked" >
     {% comment %}
     <li>
      <i class="icon-chevron-right pull-right"></i>
      <a href="#" >Batch Ingest</a>
     </li>
     <li>
	  <i class="icon-chevron-right pull-right"></i>
	  <a href="#modify" data-bind="click: displayModifyBatch">Batch Modify</a> 
	 </li>
     <li>
	   <i class="icon-chevron-right pull-right"></i>
	   <a href="#generate-marc" data-bind="click: displayMARC">Generate MARC Record</a>
	 </li>	 
     {% endcomment %}
	 <li>
	   <i class="icon-chevron-right pull-right"></i>
	   <a href="{% url 'pid-mover' %}">PID Object Mover</a>
	 </li>
         <li {% if active == 'add_stub' %} class="active"{% endif %}>
           <i class="icon-chevron-right pull-right"></i>
	   <a href="{% url 'add-obj-template' %}">Add Fedora Objects from Template</a>
         </li>
      {% comment %}

	 <li>
	   <i class="icon-chevron-right pull-right"></i>
	   <a href="#index" data-bind="click: displaySolrIndex">Index into Solr</a>
	 </li>
      {% endcomment %}

   </ul>
  {% comment %}END fedora batch nav DIV{% endcomment %}
  </div>
  {% comment %}START views DIV{% endcomment %}
  <div class="span7">
   
   <div> 
   <h2>{{ app.current_view.title }} App</h2>
    {% if message %}
     <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {% autoescape off %}
      <h3>{{ message }}</h3>
      {% endautoescape %}
     </div>
    {% else %}
	 <p>{{ app.description }}</p>
    {% endif %}
   </div>
   {% block fedora_form %}{% endblock %}

 {% comment %}END row-fluid DIV{% endcomment %}
 </div>
{% comment %}END content DIV{% endcomment %}
</div>
{% endblock %}



{% comment  %}
<script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
<script src="{{ STATIC_URL }}js/knockout.js"></script>
<script>
 function FedoraBatchViewModel() {
   this.addStubObj = ko.observable(false);
   this.batchIngest = ko.observable(false);
   this.batchModify = ko.observable(false);
   this.marcGenerate = ko.observable(false);
   this.solrIndex = ko.observable(false);
   this.pidMover = ko.observable(true);
   this.JobStatus = ko.observable(true);
   this.indexProgress = ko.observable(false);
   this.indexMessages = ko.observableArray();

   this.checkProgress = function() {
     var view_model = this;
     $.ajax({
       type: "POST",
       data: { csrfmiddlewaretoken: "{{ csrf_token }}"},
       url: "{% url fedora_utilities.views.index_solr %}"
     }).done(function (json_response) {
       alert("In Done of $ajax call");
       if(json_response['result'] == 'error') {
          alert("Error! " + json_response['text']);
       } 
       //view_model.checkProgress();
    

     }); 

   }

   this.displayAddStubObj = function() {
    this.hideAll();
    this.addStubObj(true);
   }

   this.displayIngest = function() {
     this.hideAll();
     this.batchIngest(true);
   }


   this.displayModifyBatch = function() {
     this.hideAll();
     this.batchModify(true);
   }

   this.displayMARC = function() {
     this.hideAll();
     this.marcGenerate(true);

   }

   this.displayMover = function() {
    this.hideAll();
    this.pidMover(true);
   }

   this.displaySolrIndex = function() {
    this.hideAll();
    this.solrIndex(true);
   }

   this.hideAll = function() {
     this.batchIngest(false);
     this.batchModify(false);
     this.marcGenerate(false);
     this.pidMover(false);
     this.solrIndex(false);
   }

   this.startIndexing = function() {
     var view_model = this;
     $.ajax({
       type: "POST",
       data: { start: "start", csrfmiddlewaretoken: "{{ csrf_token }}"},
       url: "{% url fedora_utilities.views.index_solr %}"
     }).done(function(json_response) {
       view_model.indexProgress(true);
       view_model.indexMessages.push(json_response['msg']);
       view_model.checkProgress(); 
     });
   }

 }

function UploadCompressedFile() {
  var success = $('#ingest_form').submit();
  //alert(success);

}

//$("#id_target_directory").change(TestEvent);
ko.applyBindings(new FedoraBatchViewModel());
// ko.applyBindings(PIDMoverViewModel);
</script>
{% endcomment %}
