{% extends 'app-base.html' %}
{% load i18n %}

{% block head-title %}
{% if library %}{{ library.name }}{% else %}Aristotle Library Apps {% endif %}
 Fedora Batch App
{% endblock %}

{% block more-css %}
<style media="screen" type="text/css">
 ul.fedora-batch-nav {
   background-color: rgb(209,208,208);
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   padding: .5em;
   width: 12%;
 }

</style>
{% endblock %}


{% block body %}
 {# START row-fluid DIV #}
 <div class="row" id="first-container">
  {# START fedora batch nav DIV #}
  <div class="col-sm-3 col-md-2">
   <ul class="nav nav-stacked nav-pills" >
    <li>
      <i class="icon-chevron-right pull-right"></i>
       <a href="{% url 'pid-mover' %}">PID Object Mover</a>
    </li>
    <li {% if active == 'add_stub' %} class="active"{% endif %}>
      <i class="icon-chevron-right pull-right"></i>
       <a href="{% url 'add-obj-template' %}">Add Fedora Objects from Template</a>
    </li>
   </ul>
  {# END fedora batch nav DIV #}
  </div>
   {# START views DIV #}
   <div class="col-sm-8 col-md-7">
   
   <div> 
   <h1>{{ app.current_view.title }} App</h1>
    {% if message %}
     <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {% autoescape off %}
      <h3>{{ message }}</h3>
      {% endautoescape %}
     </div>
    {% else %}
	 <p>{{ app.description }}</p>
    {% endif %}
   </div>
   {% block fedora_form %}{% endblock %}
  {# END views DIV #}
  </div>

 {# END row-fluid DIV #}
 </div>
{% endblock %}
