{% load i18n %}
{% load aristotle_extras %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
	{% block head-title %}{% trans "Aristotle Library Apps" %}{% endblock %}
    </title>
    <meta name="description" content="Aristotle Library Apps Interface" >
    <meta name="author" content="Jeremy Nelson">
    {% block more-meta %}{% endblock %}
    
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.png">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href=" {{ STATIC_URL }}css/default.css" rel="stylesheet">
    {% block more-css %}{% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL}}js/html5shiv.js"></script>
      <script src=" {{ STATIC_URL}}js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
   {# START main DIV #}
   <div id="main">

  {% block navbar %}
    {% include 'snippets/navigation-action-bar.html' %}
  {% endblock %} 
  
  {# START body container #}
  <div class="container main-container"> 
  {% block body %}{% endblock %}
  {# END body container #}
  </div>
  {% comment %}
  {% endblock %}

      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

    </div><!-- /.container -->
  {% endcomment %}
  
  {# END main DIV #}
  </div>

  {# START footer DIV #}
  <div id="footer">
   {% block footer %}
   <div class="container">
     {% include 'snippets/footer-action-bar.html' %}
   </div>
   {% endblock %} 
  {# END footer DIV #}
  </div> 
  {% block dialogs %}
    {% include 'snippets/about.html' %}
    {% include 'snippets/help.html' %}
    {% include 'snippets/feedback.html' %}
 {% endblock %} 
 {% block more-dialogs %}{% endblock %}  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/knockout.js"></script>
   {% block more-js %}{% endblock %} 
  </body>
</html>
