{% extends 'base.html' %}
{% load i18n %}

{% block head-title %}{% trans "CoALA Academic Library Summit -- Library App Demo" %}{% endblock %}

{% block more-css %}
<style>
 body {
  background-color: #1B3153;
  padding-top: 60px;
}
 .navbar-inner {
   background-color: #1B3153 !important;
 }
</style>
{% endblock %}

{% block body %}
 {% comment %}START content DIV{% endcomment %}
 <div class="content" >
  {% comment %}START page-header DIV{% endcomment %}
  <div class="page-header hero-unit" >
    <h1>{% trans "Library Apps for Users and Staff" %} 
    <p><small>{% trans "CoALA 2012 Academic Library Summit" %}</small></p>
    </h1>
    <p>{% trans "Jeremy Nelson &amp; Jon Driscoll" %}<br/>{% trans "Colorado College" %}</p>
	<div class="btn-toolbar" style="float:right">
     <div class="btn-group">
	  <a href="/background.html" class="btn btn-large btn-success">Background &raquo;</a>
      <a href="/getting-started.html" class="btn btn-large btn-primary">Getting Started &raquo;</a>
     </div>
     <div class="btn-group">
	  <a href="/apps/portfolio" class="btn btn-large"><i class="icon-th"></i> Your Apps</a>
     </div>
    </div>
  {% comment %}END page-header DIV{% endcomment %}
  </div>
  
  <div class="row">
   <div class="span4 well">
	 <h2>{% trans "About" %}</h2>
     {{ vision }}
   </div>
   <div class="span6 well">
    {% if not institution %}
    <div class="alert alert-error">
     <h4 class="alert-heading">Alert!</h4> Your organization's 
     information is not set in your
     <code>aristotle/fixures/institution.json</code>
     file.
    </div>
    {% else %}
    <h2>{% trans "Your Institution's Information" %}</h2>
    <table class="table table-bordered table-striped table-condensed">
     <thead>
      <tr>
       <th>Variable</th>
       <th>Value</th>
      </tr>
     </thead>
     <tbody>
      <tr>
        <td>Name:</td>
        <td>{{ institution.name }}</td>
      </tr>
      {% if institution.parent_institution %}
      <tr>
        <td>Parent Institution:</td>
        <td>{{ institution.parent_institution }}</td>
      </tr>
      {% endif %}
      <tr>
        <td>URL:</td>
        <td><a href="{{ institution.url }}">{{ institution.url }}</a></td>
      </tr>
      <tr>
        <td colspan="2">Logo:</td>
      </tr>
      <tr>
        <td colspan="2">
         <img src="{{ STATIC_URL }}img/{{ institution.logo }}" />
        </td>
      </tr>
     </tbody>
    </table>
    {% endif %}
   </div>
  </div>
 {% comment %}END content DIV{% endcomment %}
 </div>
{% endblock %}
{% block more-js %}{% endblock %}
