{% load i18n %}
{% load call_number_extras %}
{% comment %}START call number app alert DIV{% endcomment %}
<div class="alert alert-block">
 <a class="close" data-dismiss="alert">x</a>
 <h2 class="alert-heading">{% trans "Call Number App Status" %}</h2>
 <p>
  <label>{% trans "Redis datastore size" %}</label> {{ redis.dbsize }}<br />
  <label>{% trans "Redis version" %}</label> {{ redis.info.redis_version }}<br />
  <label>{% trans "Number of Call Numbers" %}</label> {{ redis.call_number_size }}
 </p>
{% comment %}END call number app alert DIV{% endcomment %}
</div>
