{% load i18n %}
<div class="row">
{% for active_app in portfolio|slice:":4" %}
 <div class="span1">
  <div class="app_icon">
  <a href="{{ active_app.url }}">
  <img src="{{ STATIC_URL }}img/{{ active_app.icon_url }}" alt="{{ active_app.current_view. }}"/>
  <p>{{ active_app.current_view.title }}</p>
  </a>
  </div>
 </div>
{% endfor %}
</div>
<div class="row">
{% for active_app in portfolio|slice:"4:" %}
 <div class="span1">
  <div class="app_icon">
  {{ active_app.url }}
  </div>
 </div>
{% endfor %}
</div>
