{% load i18n %}
<div class="btn-group">
 <button class="btn disabled" onclick="all_apps_view()" id="all-app-view-id"><i class="icon-th"></i><span class="hidden-phone">{% trans " All" %}</span></button>
 <button class="btn" onclick="dis_access_view()" id="dis-access-view"><i class="icon-search"></i><span class="hidden-phone">{% trans " Discovery &amp; Access" %}</button>
 <button class="btn" onclick="pro_view()" id="productivity-view"><i class="icon-retweet"></i><span class="hidden-desktop">{% trans " Productivity" %}</button>
</div>
