<div class="span3">
 <div class="btn-group">
  {# Start Search Options Btn #}
  <div class="btn-group">
   <a class="btn" href="#" data-toggle="dropdown">Search 
    <span class="caret"></span>
   </a>
   <ul class="dropdown-menu">
     <li><a href="/apps/discovery/">New Search</a></li>
     <li><a href="/apps/discovery/history">Search History</a></li>
   </ul>
  {# END Search Options Btn #}
  </div>
  {# Start Alerts Btn #}
  <div class="btn-group">
   <a class="btn" href="#" data-toggle="dropdown">Actions
     <span class="caret"></span>
   </a>
   <ul class="dropdown-menu">
    <li><a href="/apps/discovery/alerts">Alerts</a></li>
    <li><a href="/apps/discovery/cite">Cite</a></li>
    <li><a href="/apps/discovery/refworks">Refworks</a></li>
    <li><a href="/apps/discovery/zotero">Zotero</a></li>
   </ul>
  {# End Alerts Btn #}
  </div>
 </div>
</div>
