{% load colorado_college_extras %}
<div class="row-fluid">
 <div class="span8">
  <h2><a href="/apps/discovery/{{ work.name }}/{{ work.redis_id }}/">
      {{ title }} / {% for creator in creators %}{{ creator.name }}{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}</a></h2>
  <dl class="dl-horizontal">
    <dt>Author/Creator</dt>
    <dd>{% for creator in creators %}
        <a href="/apps/discovery/Person/{{ creator.id }}">{{ creator.familyName }}, {{ creator.givenName }}.</a>
         {% if not forloop.last %}<br>{% endif %}
        {% endfor %}
     </dd>
     {% if datePublished %}
     <dt>Published</dt>
     <dd><a href="/apps/discovery?filter=datePublished={{ datePublished }}">{{ datePublished }}</a></dd>
     {% endif %}
     <dt>Library Holdings</dt>
     <dd>
      {{ library_holdings }}
     </dd>
  </dl>
 </div>
</div>
