<div class="btn-toolbar">
  <div class="btn-group">
    <a href="/apps/discovery/{{  entity.name }}/{{ entity.redis_id }}.rss" 
       class='btn' 
       data-toggle="tooltip" 
       title='RSS Feed of changes to this {{ entity.name }}'><i class='icon-rss-sign'></i></a>
    <a href="/apps/discovery/{{ entity.name }}/{{ entity.redis_id }}.json" 
       class='btn'
       data-toggle="tooltip" 
      title="Linked Data View of this {{ entity.name }}">
      <img src="{{ STATIC_URL }}img/json-ld-data-24.png" style="width: 16px; height: 16px;"></a>
    <a href="/apps/discovery/{{ entity.name }}/{{ entity.redis_id }}.rdf" 
       class="btn"
       title="RDF/XML View of {{ entity.name }}">
    <i class="icon-file-text-alt"></i>
    </a>
    <a href="#annotateEntity"
       class="btn"
       data-toggle="modal"
       title='Annotate this {{ entity.name }}'><i class="icon-comment"></i></a>
    {% comment %}
    <a href="#" class='btn'><i class='icon-twitter'></i></a>
    <a href="#" class='btn'><i class='icon-facebook'></i></a>
    {% endcomment %}

 </div>
</div>

