{% load colorado_college_extras %}
<div class="span8">
 <h2>Featured Items</h2>
 <ul class="thumbnails">
  <li class="span2">
   <a href="#" class="thumbnail">
     <img src="/assets/" style="width:150px; height:103">
     <small>Featured Item Title</small>
   </a>
  </li>
  <li class="span2">
   <a href="#" class="thumbnail">
     <img src="/assets/" style="width:150px; height:103">
     <small>Featured Item Title</small>
   </a>
  </li>
 </ul>
 <div class="row-fluid">
  <div class="span5 well well-small">
  <h2>About our collection</h2>
  <p class="lead">
   Our library collection contains over <a href="#"><span style="font-size: 1.2em">{# { collection.books.total } #} 723,000</span> Books</a>,
   
  </p>
  </div>
  <div class="span3 alert alert-block alert-info">
   <button type="button" class="close" data-dismiss="alert">&times;</button> 
   <ul class="unstyled">
    <li><a href="#" class="btn">Find an online article</a></li>
    <li><a href="#" class="btn">Check-out a book</a></li>
    <li><a href="#" class="btn">Annotate a resource</a></li>
    <li><a href="#">More...</a></li>
   </ul>
  </div>
 </div>
</div>
