{% load colorado_college_extras %}
<div class="span8" data-bind="visible: DiscoveryHome">
 <h2>Featured Items</h2>
 <ul class="thumbnails">
  <li class="span2">
   <a href="#" class="thumbnail">
     <img src="/assets/" style="width:150px; height:103">
     <small>Featured Item Title</small>
   </a>
  </li>
  <li class="span2">
   <a href="#" class="thumbnail">
     <img src="/assets/" style="width:150px; height:103">
     <small>Featured Item Title</small>
   </a>
  </li>
 </ul>
 <div class="row-fluid">
  <div class="span4 well well-small">
  <h2>About our collection</h2>
  <p class="lead">
   Our library collection contains over <a href="#"><span style="font-size: 1.2em">{{ "Book"|get_work_total }}</span> Books</a>,
   <a href="#"><span style="font-size: 1.2em">{{ "MovingImage"|get_work_total }}</span> Movies</a>,
   <a href="#"><span style="font-size: 1.2em">{{ "Manuscript"|get_work_total }}</span> Manuscripts</a>
   
  </p>
  </div>
  <div class="span3 alert alert-block alert-info">
   <button type="button" class="close" data-dismiss="alert">&times;</button> 
   <ul class="unstyled">
    <li><a href="#" class="btn"><i class="icon-search icon-large"></i></a> Find a Journal article</li>
    <li><a href="#" class="btn"><i class="icon-share-alt icon-large"></i></a> Check-out a book</li>
    <li><a href="#" class="btn"><i class="icon-comments icon-large"></i></a> Annotate a resource</li>
    <li><a href="#">More...</a></li>
   </ul>
  </div>
 </div>
</div>
<div class="span8" data-bind="visible: SearchResultsPane">
  <h2 data-bind="html: ResultsMessage"></h2>
  <div class="btn-group">
   <a href="#" class="btn btn-small">TEXT</a>
   <a href="#" class="btn btn-small">Date</a>
   <a href="#" class="btn btn-small">Relevance</a>
   <a href="#" class="btn btn-small"><i class="icon-list"></i></a>
   <a href="#" class="btn btn-small disabled"><i class="icon-table"></i></a>

  </div>
  <ul class="thumbnails" data-bind="foreach: SearchResults">
    <li class="span2">
      <a data-bind="attr: { href: WorkURL}">
       <small data-bind="text: WorkTitle"></small>
      </a> 
      <img data-bind="attr: { src: CoverArt }" style="width:150px; height:103px">
      <small>by </small>
    </li>
  </ul>
</div>
