{% load discovery_extras %}
{% load colorado_college_extras %}
<div class="col-sm-8 col-md-8" data-bind="visible: DiscoveryHome">
 {% if featured.length > 0 %}
 <h2>Featured Items</h2>
 {# START thumbnails Row #}
 <div class="row">
  <div class="col-sm-4 col-md-3">
   {% for work in featured %}
    <div class="thumbnail">
     <img src="/assets/" style="width:150px; height:103">
     <div class="caption">
       <a href="#" class="thumbnail">{{ work|get_title }}</a>
     </div>
    </div>
   {% endfor %}
 {# END thumbnails Row #}
 </div>
 {% endif %}
 {# START About and Action Row #}
 <div class="row">
  {# START About col #}
  <div class="col-sm-6 col-md-4 well well-small">
   <h2>About our collection</h2>
   <p class="lead">
   Our library collection contains over <a href="#"><span style="font-size: 1.2em">{{ "Book"|get_work_total }}</span> Books</a>,
   <a href="#"><span style="font-size: 1.2em">{{ "MovingImage"|get_work_total }}</span> Movies</a>,
   <a href="#"><span style="font-size: 1.2em">{{ "Manuscript"|get_work_total }}</span> Manuscripts</a>
   
   </p>
  {# END About col #}
  </div>
  {# START Action Column #}
  <div class="col-md-4 col-sm-4">
   {# START Action Alert #}
   <div class="alert alert-block alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button> 
    <ul class="list-unstyled">
     <li><a href="#" class="btn"><i class="glyphicon glyphicon-search"></i></a> Find a Journal article</li>
     <li><a href="#" class="btn"><i class="glyphicon glyphicon-shopping-cart"></i></a> Check-out a book</li>
     <li><a href="#" class="btn"><i class="glyphicon glyphicon-comment"></i></a> Annotate a resource</li>
     <li><a href="#" class="btn"><i class="glyphicon glyphicon-user"></i></a> User Settings &amp; History</li>

     <li><a href="#" class="label label-default">More...</a></li>
    </ul>
   {# END Action Alert #}
   </div>
 {# END Action Column #}
 </div>
{# END About and Action Row #}
</div>
<div class="col-sm-9 col-md-8" data-bind="visible: SearchResultsPane">
  <h2 data-bind="html: ResultsMessage"></h2>
   <div class="btn-toolbar">
    <div class="btn-group">
     <a title='Sort by Relevance' data-bind="click: SortByRelevance, 
                                            attr: { class: SortByRelevanceButton }">
      <i class="icon-ellipsis-vertical"></i></a>
     <a title='Sort by Alpha' data-bind="click: SortByAlpha, attr: { class: SortByAlphaButton }"><i class="icon-text-width"></i></a>
     <a title='Sort by Date' data-bind="click: SortByDate, attr: { class: SortByDateButton }"><i class="icon-calendar"></i></a>
     <a title='Display as a List' data-bind="click: DisplayList, attr: { class: DisplayListButton }"><i class="icon-list-ol"></i></a>
     <a title='Display by Thumbnail' data-bind="click: DisplayThumbnail, attr: { class: DisplayThumbnailButton }"><i class="icon-table"></i></a>
    </div>
    <div class="btn-group">
     <a class="btn"><i class="icon-shopping-cart"></i></a>

    </div>
   </div>
   <div class="pagination pagination-small">
    <ul> 
     <li><a href="#">Prev</a></li>
     <li><a href="#">1</a></li>

     <li><a href="#">Next</a></li>
    </ul>
   </div>
  <ul class="thumbnails" data-bind="foreach: SearchResults">
    <li class="span2">
     <div class="thumbnail">
       <a data-bind="attr: { href: WorkURL}">
        <small data-bind="html: WorkTitle"></small>
       <img data-bind="attr: { src: CoverArt }" >
      </a>
      <small> 
       <ul class="inline" data-bind="foreach: WorkCreators">by
        <li><a data-bind="attr: { href: CreatorURL }, text: CreatorName"></a></li>
       </ul>
      </small>
      <div class="btn-group">
       <a class="btn btn-mini btn-success" title="Save Work to Cart"><i class="icon-save"></i></a>
       <a class="btn btn-mini disabled" title="Remove Work from Cart">
        <span class="icon-stack"> 
        <i class="icon-save"></i>
        <i class="icon-ban-circle icon-stack-base text-error"></i>
        </span>
       </a>
       <a class="btn btn-mini" title="Comment on Work"><i class="icon-comment-alt"></i></a>
       <a class="btn btn-mini" title="Cite Work"><i class="icon-edit"></i></a>
      </div>

     </div>
    </li>
  </ul>
</div>
