footer {
 background-color: rgb(51, 51, 51);
 color: rgb(255, 255, 255);
 margin-left: 0px;
 margin-right: 0px;
 text-transform: uppercase;
}

footer a {
 color: rgb(5, 163, 206);
} 

.form-search {
 background-color: rgb(51, 51, 51);
 border-top-right-radius: 1em;
 border-bottom-right-radius: 1em;
 color: rgb(255, 255, 255);
 font-weight: 700;
 margin-top: 2em;
 padding: .5em;
 text-transform: uppercase;
 width: 60%;
}

h2.search-query {
 text-transform: uppercase;
}

header {
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
}

header h1 {
  font-weight: 800;
  text-transform: uppercase;
}

div.result-nav { 
 line-height: 350px;
}

div.result-nav button {
 vertical-align: middle;
}

div.user-log-btn {
  background-color: rgb(5, 163, 206);
  border-bottom-left-radius: 1em;
  color: rgb(255, 255, 255);
  font-weight: 800;
  padding-left: 2em;
  padding-top: .20em;
  text-transform: uppercase;
  height: 2em;
}

div.user-log-btn a {
 color: rgb(255, 255, 255);
 padding-right: 5px;
}

span.search-stats {
  background-color: rgb(51, 51, 51);
  border-radius: 1em;
  color: rgb(255, 255, 255);
  padding-left: .5em;
 
}

span.search-terms {
 color: rgb(5, 163, 206);
}

.btn-details {
  background-color: rgb(122, 201, 67) !important;
  color: rgb(255, 255, 255);
  font-weight: 800;
  text-transform: uppercase;
}

.btn-find {
  background-color: rgb(255, 123, 172) !important;
  color: rgb(255, 255, 255);
  font-weight: 800;
  text-transform: uppercase;

}

.btn-reserve { 
  background-color: rgb(5, 163, 206) !important;
  color: rgb(255, 255, 255);
  font-weight: 800;
  text-transform: uppercase;
}

img.img-result { height: 120px; width: auto; }
img.img-result { height: auto; width: 90px; } 
