{% extends 'app-base.html' %}


{% block body %}
<div class="row-fluid">     
 <div class="span6 offset3"> 
  <div class="well well-small">
   <p>
   {% for collection in alpha_dbs %}
    <a href="/apps/dbfinder/{{ collection.letter }}" style="padding-top: 5px"
       class="btn btn-small btn-success">{{ collection.letter }}</a>
   {% endfor %}
    <a href="/apps/dbfinder/full-text" style="padding-top: 5px"
       class="btn btn-small btn-success">Full Text</a>
   </p>
   <p>
    <select name="db_subject">
    {% for collection in subject_dbs %}
     <option name="{{ collection.subject }}">{{ collection.subject }}</option> 
    {% endfor %}
    </select>
   </p>
  </div>
 </div>
</div>
{% endblock %}
