{% extends 'app-base.html' %}


{% block body %}
<div class="row-fluid">     
 <div class="span10 offset2"> 
  <div class="well well-small">
   {% for collection in alpha_dbs %}
    <a href="/apps/dbfinder/{{ collection.letter }}" class="btn btn-small">{{ collection.letter }}</a>
   {% endfor %}
   <p>
    <input type="select" name="db_subject">
    {% for collection in subject_dbs %}
     <option name="{{ collection.subject }}">{{ collection.subject }}</option> 
    {% endfor %}
    </input>
   </p>
  </div>
 </div>
</div>
{% endblock %}
