{% extends 'app-base.html' %}


{% block body %}
<div class="row-fluid">     
 <div class="span6 offset3"> 
  <div class="well well-small">
   <p>
   {% for collection in alpha_dbs %}
    <a href="/apps/dbfinder/{{ collection.letter }}" style="padding-top: 5px"
       class="btn btn-small btn-success">{{ collection.letter }}</a>
   {% endfor %}
    <a href="/apps/dbfinder/full-text" style="padding-top: 5px"
       class="btn btn-small btn-success">Full Text</a>
   </p>
   <form class="form-inline">
    <select name="db_subject"
            data-bind="value: chosenSubject,
                       options: subjectsList,
                       optionsText: 'name'"></select>
    <button data-bind="click: viewSubject" type="button" class="btn">Go</button>
   </form>
  </div>
 </div>
</div>
{% endblock %}

{% block more-js %}
<script src="{{ STATIC_URL }}js/knockout.js"></script>
<script>
 function DBFinderAppViewModel() {
  var self = this;

  self.chosenSubject = ko.observable();
  self.viewSubject = function() {
    var subject = self.chosenSubject().name;
    window.location.replace('/apps/dbfinder/subjects/' + subject);  
  } 

 
  self.subjectsList = [
  {% for collection in subject_dbs %}
   {"name": "{{ collection.subject }}" }
   {% if not forloop.last %}
    ,
   {% endif %}
  {% endfor %}
  ]; 

 } 
 var view_model = new DBFinderAppViewModel();
 ko.applyBindings(view_model);

</script>
{% endblock %}


