{% extends 'app-base.html' %}
{% load i18n %}

{% block head-title %}{% trans "Aristotle Library Apps -- RDA Core" %}{% endblock %}

{% block more-css %}{% endblock %}


{% block body %}
 {% comment %}START main-pane DIV{% endcomment %}
 <div class="row-fluid main-pane">
  {% comment %}START left-jobs-col DIV{% endcomment %}
  <div class="span2">
   {% include 'snippets/left-nav-rda-facets.html' %}
  {% comment %}END left-jobs-col DIV{% endcomment %}
  </div>
  <div class="span7">
   <p>{{ app.description }}</p>
  </div>
{% comment %}END main-pane DIV{% endcomment %}
 </div>
{% endblock %}

{% block more-js %}
<script>
$(document).ready(function() {

});    
</script>
{% endblock %}
