<div class="well">
 <ul class="nav nav-tabs nav-stacked">
  {% for row in facets %}
   <li {% if forloop.first %}class="active"{% endif %}><a href="#rdaCore{{ row.name }}" data-toggle="tab">RDA {{ row.name }} {{ row.count }}</a></li>
  {% endfor %}
 </ul>
 <div class="tab-content">
  {% for row in facets %}
  <div id="rdaCore{{ row.name }}" class="tab-pane">
	<ul class="nav nav-list">
	 {% for facet in row.facets %}
	  <li><a href="/apps/RDAcore/facets/{{ facet|slugify }}/">{{ facet|title }} {{ facet.count }}</a></li>
	 {% endfor %}
	</ul>
  </div>
  {% endfor %}
  </div>
</div>
