<div class="well">
<div class="accordion" id="left-sidebar-nav">
{% for row in facets %}
 <div class="accordion-group">
  <div class="accordion-heading">
   <a class="accordion-toggle" 
      data-toggle="collapse" data-parent="#left-sidebar-nav" 
      href="#{{ row.name }}-body">RDA {{ row.name }}s {{ row.facets.count }}</a>
  </div>
  <div class="accordion-body collapse" id="{{ row.name }}-body">
   <div class="accordion-inner" style="background-color: #FFFFFF;">
    <ul>
   	 {% for facet in row.facets %}
	  <li><a href="/apps/RDAcore/facets/{{ facet|slugify }}/">{{ facet|title }} {{ facet.count }}</a></li>
	 {% endfor %}
	</ul>
   </div>
  </div>
 </div>
{% endfor %}
</div>
</div>
